/*
** General ---------------------------------------------------------------------
*/
a {
    text-decoration: none !important;
}

*:focus {
    outline: none !important;
}

/*
** Header ----------------------------------------------------------------------
*/
header#masthead {
    background-color: #33373b;
}

div#site-branding {
    padding: 40px;
    text-align: center;
}

#site-branding a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

/*
** Main Navigation -------------------------------------------------------------
*/
div#site-navigation {
    background-color: #72c4c0;
    padding: 5px 0;
    text-align: center;
}

div#site-navigation .main-navigation {
    float: none;
}

ul#primary-menu {
    display: inline-block;
    padding-top: 5px;
}

ul#primary-menu > li.menu-item {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
    letter-spacing: .2em;
    font-size: 10px;
}

ul#primary-menu > li.menu-item > a {
    color: #fff;
}

ul#primary-menu > li.menu-item.current-menu-item > a {
    color: #33373b;
}

/*
** Slicknav Mobile Menu --------------------------------------------------------
*/
div.slicknav_menu {
    display: none;
    background: none;
}

#slicknav-menu-toggle {
    display: none;
}

div#slicknav-menu-toggle i {
    color: rgba(255,255,255,.75);
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    line-height: 24px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid rgba(255,255,255,.75);
}

div#slicknav-menu-toggle i:hover {
    color: #fff;
    border-color: #fff;
}

@media (max-width:767px) {
    
    ul#primary-menu {
        display: none;
    }
    
    div.slicknav_menu {
        display: block;
    }

    #slicknav-menu-toggle {
        display: block;
    }
    
}

ul.slicknav_nav ul.sub-menu {
    box-shadow: none;
    position: relative;
    float: none;
    left: 0 !important;
    top: inherit;
    margin-left: 0;
    border-left: 5px solid #f5f5f5;
}

ul.slicknav_nav ul.sub-menu ul.sub-menu {
    margin-left: 15px;
    border: none;
}

div.slicknav_menu {
    padding: 10px 0;
}

div.slicknav_menu li {
    display: block;
    margin-left: 0;
    float: none;
}

.slicknav_nav > li > .slicknav_item {
    margin-left: 0;
    padding-left: 0;   
}

.slicknav_nav a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2em;
    font-size: 10px;
} 

ul.slicknav_nav ul.sub-menu li a {
    font-size: 12px !important;
}

.slicknav_nav a:hover {
    background: none;
}

.slicknav_nav .slicknav_row:hover {
    background: none;
}

a.slicknav_btn {
    display: none;
}


/*
** Masonry Blog ----------------------------------------------------------------
*/
.grid-sizer,
.newstand-blog-content .blog-roll-item { width: 32%; }
.gutter-sizer { width: 2%; }